.euphoria18 {
  height: 45px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.group-icon82,
.group-icon83,
.group-icon84 {
  height: 0.4px;
  position: absolute;
  margin: 0 !important;
  bottom: 11px;
  z-index: 1;
}
.group-icon82 {
  width: 22.4px;
  left: 0;
}
.group-icon83,
.group-icon84 {
  width: 59.1px;
  right: 0.1px;
}
.group-icon84 {
  width: 53.8px;
  height: 7.4px;
  right: 2.6px;
  bottom: 2.3px;
}
.line11,
.logo18 {
  display: flex;
  flex-direction: column;
}
.logo18 {
  align-items: center;
  justify-content: center;
  position: relative;
}
.line11 {
  width: 167px;
  align-items: flex-start;
  justify-content: flex-start;
}
.men12,
.shop13,
.women13 {
  position: relative;
  font-weight: 500;
}
.men12 {
  height: 26px;
  display: inline-block;
}
.women13 {
  cursor: pointer;
}
.combos12,
.women13 {
  height: 26px;
  display: inline-block;
}
.combos12,
.joggers14 {
  position: relative;
  font-weight: 500;
}
.popular-categories-label1 {
  width: 547px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-47xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-300);
  font-family: var(--font-causten);
}
.search-icon19 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.button171 {
  width: 49px;
  border: 0;
  outline: 0;
  font-family: var(--font-causten);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 19px;
  position: relative;
  color: var(--color-gray-300);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrowright-icon67 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.button-wrapper3,
.button170 {
  display: flex;
  justify-content: flex-start;
}
.button170 {
  width: 267px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  gap: 0 12px;
}
.button-wrapper3 {
  width: 331px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.heart-icon16 {
  height: 20px;
  width: 20px;
  position: relative;
}
.component-112 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
}
.user-icon16 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.component-212 {
  border-radius: var(--br-5xs);
  background-color: var(--color-blueviolet-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
}
.shopping-cart-icon53 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.component-312 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
}
.task-baar-child10,
.task-baar12 {
  box-sizing: border-box;
  max-width: 100%;
}
.task-baar-child10 {
  height: 108px;
  width: 1440px;
  position: relative;
  border-bottom: 1px solid var(--color-silver-100);
  display: none;
}
.task-baar12 {
  align-self: stretch;
  border: 1px solid var(--color-silver-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-2xl);
  gap: 0 12px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-15xl-1);
  color: var(--color-darkslategray-200);
  font-family: var(--font-mintaka);
}
.home8 {
  height: 22px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.left-stroke-icon13 {
  height: 10.1px;
  width: 5px;
  position: relative;
  object-fit: contain;
}
.my-account5 {
  position: relative;
  font-weight: 500;
}
.left-stroke-icon14 {
  height: 10.1px;
  width: 5px;
  position: relative;
  object-fit: contain;
}
.my-orders4 {
  position: relative;
  font-weight: 500;
  color: var(--color-darkslategray-200);
}
.terms-and-conditions1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 15px;
}
.text15 {
  height: 28px;
  width: 6px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-blueviolet-100);
}
.hello-jhanvi4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 33.5px;
  font-weight: 400;
  font-family: inherit;
}
.text-group {
  width: 204px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 15px;
}
.welcome-to-your4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 33.5px;
  color: var(--color-gray-300);
}
.line12 {
  width: 215px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 0;
}
.vector-child {
  align-self: stretch;
  width: 295px;
  position: relative;
  max-height: 100%;
  display: none;
  min-height: 44px;
}
.text16 {
  height: 44px;
  width: 2px;
  position: relative;
  background-color: var(--color-darkslategray-200);
  z-index: 1;
}
.my-orders-icon4,
.my-orders5 {
  height: 22px;
  position: relative;
  z-index: 2;
}
.my-orders-icon4 {
  width: 22px;
  min-height: 22px;
}
.my-orders5 {
  width: calc(100% - 22px);
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-causten);
  font-size: var(--font-size-lg);
  background-color: transparent;
  flex: 1;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 46px;
}
.my-orders-container {
  width: 114px;
  flex-direction: row;
  align-items: flex-start;
  gap: 0 15px;
}
.line-parent1,
.my-orders-container,
.vector3 {
  display: flex;
  justify-content: flex-start;
}
.vector3 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  align-items: center;
  gap: 0 35px;
}
.line-parent1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px 0;
  min-width: 192px;
}
.line-child,
.my-orders6 {
  align-self: stretch;
  position: relative;
}
.my-orders6 {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 33.5px;
  font-weight: 400;
  font-family: inherit;
}
.line-child {
  height: 55px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.active {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.02em;
  line-height: 33.5px;
  font-family: var(--font-core-sans-c);
  color: var(--color-darkslategray-200);
  text-align: left;
  z-index: 1;
}
.active-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
}
.text17 {
  width: 3px;
  height: 176px;
  position: relative;
  background-color: var(--color-darkslategray-200);
  transform: rotate(90deg);
  z-index: 1;
}
.group11,
.header-group,
.line13 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.line13 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 0;
  background-color: var(--color-whitesmoke-100);
  width: 176px;
  height: 55px;
  align-items: center;
  box-sizing: border-box;
  gap: 9px 0;
}
.group11,
.header-group {
  width: 183px;
  align-items: flex-start;
  gap: 38px 0;
  min-width: 183px;
}
.header-group {
  width: 528px;
  flex-direction: row;
  gap: 0 50px;
  min-width: 528px;
  max-width: 100%;
}
.cancelled {
  width: 125px;
  display: inline-block;
  flex-shrink: 0;
}
.cancelled,
.completed {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 33.5px;
}
.text18 {
  width: 484px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.text-frame {
  width: 3px;
  height: 719px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  transform: rotate(90deg);
  z-index: 2;
}
.text-parent1 {
  align-self: stretch;
  height: 43px;
  flex-direction: column;
  align-items: flex-end;
  gap: 9px 0;
}
.sitemap-link-inner,
.sitemap-link2,
.text-parent1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.sitemap-link-inner {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-3xl);
  box-sizing: border-box;
  min-width: 467px;
  margin-left: -7px;
  font-size: var(--font-size-3xl);
}
.sitemap-link2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  row-gap: 20px;
}
.heart-icon17 {
  height: 20px;
  width: 20px;
  position: relative;
}
.wishlist8 {
  position: relative;
  font-weight: 600;
}
.vector4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 17px;
}
.user-icon17 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.my-info6 {
  position: relative;
  font-weight: 600;
}
.vector5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 17px;
}
.sign-out-icon4 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.sign-out4 {
  position: relative;
  font-weight: 600;
}
.vector-parent14,
.vector6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 15px;
}
.vector-parent14 {
  flex-direction: column;
  gap: 31px 0;
}
.text-child1 {
  width: 895px;
  height: 135px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.order-no-123456789 {
  height: 24px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangle7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi);
}
.order-date,
.span7,
.span8 {
  font-weight: 600;
}
.span8 {
  font-family: var(--font-causten);
}
.june-2023-240-pm {
  color: var(--color-silver-100);
}
.order-date-container {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.span9 {
  color: var(--color-silver-100);
}
.order-status,
.span10 {
  font-weight: 600;
}
.span10 {
  font-family: var(--font-causten);
}
.inprogress {
  color: var(--color-silver-100);
}
.order-status-container {
  position: relative;
  text-align: right;
  z-index: 1;
}
.order-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.span11 {
  color: var(--color-silver-100);
}
.estimated-delivery-date {
  font-weight: 600;
}
.june-2023 {
  color: var(--color-silver-100);
}
.estimated-delivery-date-container {
  position: relative;
  z-index: 1;
}
.payment-method2,
.span12 {
  font-weight: 600;
}
.cash-on-delivery1 {
  font-family: var(--font-causten);
}
.payment-method-container {
  position: relative;
  text-align: right;
  z-index: 1;
}
.need-help-frame7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.header-frame9,
.text19 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-frame9 {
  align-items: flex-end;
  padding: 0 var(--padding-lgi);
  gap: 7px 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.text19 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  align-items: center;
  padding: var(--padding-9xl);
  box-sizing: border-box;
  gap: 14px 0;
  max-width: 100%;
}
.frame-child169 {
  height: 96px;
  width: 96px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.black-printed-t-shirt {
  position: relative;
  font-weight: 600;
}
.pink1 {
  color: var(--color-silver-100);
}
.colour-pink-container {
  position: relative;
  font-weight: 600;
}
.span13 {
  color: var(--color-silver-100);
}
.qty-1-container,
.total-2300 {
  position: relative;
  font-weight: 600;
}
.total-2300 {
  color: var(--color-gray-300);
}
.text21 {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px 0;
  font-size: var(--font-size-sm);
}
.line16,
.rectangle-parent119,
.text21 {
  display: flex;
  justify-content: flex-start;
}
.line16 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px 0;
}
.rectangle-parent119 {
  /* width: 100%; */
  flex-direction: row;
  align-items: center;
  gap: 0 25px;
}
.shopping-cart-icon54 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button173 {
  height: 22px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-causten);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrowright-icon68 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button172,
.text20 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button172 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-3xl) var(--padding-sm)
    var(--padding-9xl);
  background-color: var(--color-blueviolet-100);
  border-radius: var(--br-5xs);
  justify-content: flex-end;
  gap: 0 12px;
}
.text20 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.group-item,
.text-child2 {
  position: relative;
  max-width: 100%;
}
.group-item {
  align-self: stretch;
  overflow: hidden;
  max-height: 100%;
}
.text-child2 {
  width: 895px;
  height: 135px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: none;
}
.order-no-1234567891 {
  height: 24px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.order-no-123456789-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi);
}
.order-date1,
.span14,
.span15 {
  font-weight: 600;
}
.span15 {
  font-family: var(--font-causten);
}
.june-2023-240-pm1 {
  color: var(--color-silver-100);
}
.order-date-container1 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.span16 {
  color: var(--color-silver-100);
}
.order-status1 {
  font-weight: 600;
}
.shipped {
  color: var(--color-silver-100);
}
.order-status-container1 {
  position: relative;
  text-align: right;
  z-index: 1;
}
.order-date-2-june-2023-240-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.span17 {
  color: var(--color-silver-100);
}
.estimated-delivery-date1 {
  font-weight: 600;
}
.june-20231 {
  color: var(--color-silver-100);
}
.estimated-delivery-date-container1 {
  position: relative;
  z-index: 1;
}
.payment-method3,
.span18 {
  font-weight: 600;
}
.cash-on-delivery2 {
  font-family: var(--font-causten);
}
.payment-method-container1 {
  position: relative;
  text-align: right;
  z-index: 1;
}
.estimated-delivery-date-8-ju-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent66,
.text22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent66 {
  align-items: flex-end;
  padding: 0 var(--padding-lgi);
  gap: 7px 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.text22 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  align-items: center;
  padding: var(--padding-9xl);
  box-sizing: border-box;
  gap: 14px 0;
  max-width: 100%;
}
.frame-child170 {
  height: 96px;
  width: 96px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.printed-blue {
  position: relative;
  font-weight: 600;
}
.printed-blue-white-cote-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
}
.white2 {
  color: var(--color-silver-100);
}
.colour-white-container {
  position: relative;
  font-weight: 600;
}
.span19 {
  color: var(--color-silver-100);
}
.qty-1-container1 {
  position: relative;
  font-weight: 600;
}
.qty-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
}
.total-14300 {
  position: relative;
  font-weight: 600;
}
.total-14300-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  color: var(--color-gray-300);
}
.colour-white-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px 0;
  text-align: center;
  font-size: var(--font-size-sm);
}
.colour-white-parent,
.frame-parent67,
.rectangle-parent120 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent67 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px 0;
}
.rectangle-parent120 {
  width: 295px;
  flex-direction: row;
  align-items: center;
  gap: 0 20px;
}
.shopping-cart-icon55 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button175 {
  height: 22px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-causten);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrowright-icon69 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button174,
.text23 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button174 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-3xl) var(--padding-sm)
    var(--padding-9xl);
  background-color: var(--color-blueviolet-100);
  border-radius: var(--br-5xs);
  justify-content: flex-end;
  gap: 0 12px;
}
.text23 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
}
.group-inner,
.text-child3 {
  position: relative;
  max-width: 100%;
}
.group-inner {
  align-self: stretch;
  overflow: hidden;
  max-height: 100%;
}
.text-child3 {
  width: 895px;
  height: 135px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: none;
}
.order-no-1234567892 {
  height: 24px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.order-no-123456789-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi);
}
.order-date2,
.span20,
.span21 {
  font-weight: 600;
}
.span21 {
  font-family: var(--font-causten);
}
.june-2023-240-pm2 {
  color: var(--color-silver-100);
}
.order-date-container2 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.span22 {
  color: var(--color-silver-100);
}
.order-status2,
.span23 {
  font-weight: 600;
}
.span23 {
  font-family: var(--font-causten);
}
.inprogress1 {
  color: var(--color-silver-100);
}
.order-status-container2 {
  position: relative;
  text-align: right;
  z-index: 1;
}
.order-date-2-june-2023-240-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.span24 {
  color: var(--color-silver-100);
}
.estimated-delivery-date2 {
  font-weight: 600;
}
.june-20232 {
  color: var(--color-silver-100);
}
.estimated-delivery-date-container2 {
  position: relative;
  z-index: 1;
}
.payment-method4,
.span25 {
  font-weight: 600;
}
.cash-on-delivery3 {
  font-family: var(--font-causten);
}
.payment-method-container2 {
  position: relative;
  text-align: right;
  z-index: 1;
}
.estimated-delivery-date-8-ju-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent68,
.text24 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent68 {
  align-items: flex-end;
  padding: 0 var(--padding-lgi);
  gap: 7px 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.text24 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  align-items: center;
  padding: var(--padding-9xl);
  box-sizing: border-box;
  gap: 14px 0;
  max-width: 100%;
}
.frame-child171 {
  height: 96px;
  width: 96px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.blue-shirt {
  position: relative;
  font-weight: 600;
}
.blue1 {
  color: var(--color-silver-100);
}
.colour-blue-container {
  position: relative;
  font-weight: 600;
}
.span26 {
  color: var(--color-silver-100);
}
.qty-1-container2,
.total-9300 {
  position: relative;
  font-weight: 600;
}
.total-9300 {
  color: var(--color-gray-300);
}
.blue-shirt-parent,
.colour-blue-parent,
.rectangle-parent121 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.colour-blue-parent {
  gap: 5px 0;
  text-align: center;
  font-size: var(--font-size-sm);
}
.blue-shirt-parent,
.rectangle-parent121 {
  gap: 10px 0;
}
.rectangle-parent121 {
  flex-direction: row;
  align-items: center;
  gap: 0 24px;
}
.shopping-cart-icon56 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button177 {
  height: 22px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-causten);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrowright-icon70 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button176,
.text25 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button176 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-3xl) var(--padding-sm)
    var(--padding-9xl);
  background-color: var(--color-blueviolet-100);
  border-radius: var(--br-5xs);
  justify-content: flex-end;
  gap: 0 12px;
}
.text25 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
}
.group-child1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group12 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px 0;
}
.group12,
.line14,
.line15 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.line15 {
  width: 895px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
}
.line14 {
  width: 1203px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--font-causten);
}
.shipping-policy20 {
  align-self: stretch;
  align-items: flex-end;
  gap: 19px 0;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-core-sans-c);
}
.main-content,
.shipping-policy20,
.terms-and-conditions-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.terms-and-conditions-parent {
  width: 1280px;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 52px 0;
}
.main-content {
  align-self: stretch;
  align-items: center;
  gap: 23px 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--font-causten);
}
.need-help-section-child10 {
  width: 1440px;
  height: 731px;
  position: relative;
  background-color: var(--color-darkslategray-200);
  display: none;
  max-width: 100%;
}
.need-help14 {
  position: relative;
  line-height: 216.9%;
  z-index: 1;
}
.career16,
.contact-us21,
.faqs12,
.returns-refunds16,
.track-order18 {
  position: relative;
  line-height: 216.9%;
  font-weight: 500;
  z-index: 1;
}
.company-frame1,
.track-order-blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.track-order-blog {
  align-self: stretch;
  gap: 5px 0;
  font-size: var(--font-size-lg);
}
.company-frame1 {
  width: 142px;
  gap: 15px 0;
  min-width: 142px;
}
.company15 {
  position: relative;
  line-height: 216.9%;
  z-index: 1;
}
.about-us15,
.collaboration13,
.euphoria-blog14,
.euphoriastan12,
.media13 {
  position: relative;
  line-height: 216.9%;
  font-weight: 500;
  z-index: 1;
}
.about-us-parent10,
.company-frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-parent10 {
  gap: 5px 0;
  font-size: var(--font-size-lg);
}
.company-frame2 {
  gap: 15px 0;
  min-width: 121px;
}
.collaboration-f-a-qs {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child172 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10.68px;
  background-color: var(--color-whitesmoke-100);
  display: none;
}
.vector-in-vector-group {
  position: absolute;
  height: 48.11%;
  width: 25.68%;
  top: 25.14%;
  right: 37.84%;
  bottom: 26.76%;
  left: 36.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame-child173,
.rectangle-parent122 {
  border-radius: 10.68px;
  background-color: var(--color-whitesmoke-100);
}
.rectangle-parent122 {
  height: 37px;
  width: 37px;
  position: relative;
  z-index: 1;
}
.frame-child173 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.vector-icon67 {
  position: absolute;
  height: 42.16%;
  width: 42.16%;
  top: 28.92%;
  right: 28.92%;
  bottom: 28.92%;
  left: 28.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame-child174,
.rectangle-parent123 {
  border-radius: 10.68px;
  background-color: var(--color-whitesmoke-100);
}
.rectangle-parent123 {
  height: 37px;
  width: 37px;
  position: relative;
  z-index: 1;
}
.frame-child174 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.vector-icon68 {
  position: absolute;
  height: 39.19%;
  width: 48.11%;
  top: 30.81%;
  right: 21.08%;
  bottom: 30%;
  left: 30.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame-child175,
.rectangle-parent124 {
  height: 37px;
  width: 37px;
  position: relative;
  border-radius: 10.68px;
  background-color: var(--color-whitesmoke-100);
}
.rectangle-parent124 {
  z-index: 1;
}
.frame-child175 {
  display: none;
}
.in13 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 19px;
  z-index: 1;
}
.rectangle-parent125 {
  border-radius: 10.68px;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-sm) var(--padding-sm)
    var(--padding-2xs);
  z-index: 1;
}
.vector-group-parent1 {
  flex-direction: row;
  gap: 0 10px;
}
.more-info-frame13,
.return-f-a-qs-frame,
.vector-group-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.more-info-frame13 {
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  font-size: var(--font-size-mid-1);
  color: var(--color-darkslategray-400);
  font-family: var(--font-roboto);
}
.return-f-a-qs-frame {
  width: 343px;
  flex-direction: column;
  gap: 77px 0;
  max-width: 100%;
}
.more-info15 {
  position: relative;
  line-height: 216.9%;
  z-index: 1;
}
.privacy-policy20,
.shipping-policy21,
.sitemap16,
.term-and-conditions13 {
  position: relative;
  line-height: 216.9%;
  font-weight: 500;
  z-index: 1;
}
.info-frame2,
.location-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.location-info2 {
  gap: 5px 0;
  font-size: var(--font-size-lg);
}
.info-frame2 {
  gap: 15px 0;
}
.location13,
.supporteuphoriain12 {
  position: relative;
  line-height: 216.9%;
  z-index: 1;
}
.supporteuphoriain12 {
  font-weight: 500;
  white-space: nowrap;
}
.eklingpura-chouraha-ahmedabad13 {
  display: inline-block;
  max-width: 100%;
}
.eklingpura-chouraha-ahmedabad13,
.nh-8-near12 {
  position: relative;
  line-height: 216.9%;
  font-weight: 500;
  z-index: 1;
}
.shipping-policy22,
.support-in-eklingpura {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.support-in-eklingpura {
  gap: 5px 0;
  font-size: var(--font-size-lg);
}
.shipping-policy22 {
  gap: 15px 0;
}
.download-the-app12 {
  position: relative;
  line-height: 216.9%;
  z-index: 1;
}
.google-play14 {
  position: relative;
  z-index: 2;
}
.app-stores {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.android-app-on14 {
  position: relative;
  font-size: var(--font-size-3xs);
  z-index: 2;
  margin-left: -98px;
}
.app-store-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0.2px;
  bottom: -0.2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.group-icon85 {
  position: absolute;
  top: 9.1px;
  left: 8.7px;
  width: 29.7px;
  height: 33px;
  z-index: 2;
}
.vector-group-apps {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 28px;
  bottom: 0;
  left: 0;
}
.google-play-frame3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-15xl) var(--padding-5xs)
    var(--padding-28xl);
  box-sizing: border-box;
  position: relative;
  min-width: 100px;
}
.app-store14 {
  position: relative;
  z-index: 2;
}
.app-store-wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.available-on-the12 {
  position: relative;
  font-size: var(--font-size-3xs);
  z-index: 2;
  margin-left: -81px;
}
.vector-icon69 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0.2px;
  bottom: -0.3px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.group-icon86 {
  position: absolute;
  top: 10.7px;
  left: 8.7px;
  width: 20.6px;
  height: 31.6px;
  z-index: 2;
}
.vector-parent15 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 0;
}
.google-play-frame4,
.icon-and-title,
.popular-categories-frame5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.google-play-frame4 {
  flex: 1;
  padding: var(--padding-5xs) var(--padding-11xl) var(--padding-6xs)
    var(--padding-31xl);
  box-sizing: border-box;
  position: relative;
  min-width: 100px;
}
.icon-and-title,
.popular-categories-frame5 {
  max-width: 100%;
}
.icon-and-title {
  flex: 1;
  gap: 0 21px;
}
.popular-categories-frame5 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.download-app-frame5 {
  width: 334px;
  flex-direction: column;
  gap: 19px 0;
}
.contact-us-frame11,
.download-app-frame5,
.privacy-policy21,
.track-order-frame9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.privacy-policy21 {
  flex-direction: column;
  gap: 76px 0;
}
.contact-us-frame11,
.track-order-frame9 {
  flex-direction: row;
}
.track-order-frame9 {
  gap: 0 80px;
}
.contact-us-frame11 {
  padding: 0 var(--padding-4xs) var(--padding-7xs) 0;
  box-sizing: border-box;
}
.copyright-info2 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  opacity: 0.4;
  z-index: 1;
}
.popular-categories15 {
  position: relative;
  line-height: 21px;
  z-index: 1;
}
.icon40 {
  height: 7.8px;
  width: 17px;
  position: relative;
  border-radius: 1.43px;
  object-fit: contain;
  z-index: 1;
}
.category-label {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.line-separator7,
.popular-categories-section {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.popular-categories-section {
  width: 1176px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.line-separator7 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 29px 0;
}
.footer-frame6 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  opacity: 0.4;
  z-index: 1;
}
.line-separator-parent {
  width: 1220px;
  height: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 34px 0;
  max-width: 100%;
}
.copyright-202312 {
  position: relative;
  line-height: 200%;
  z-index: 1;
}
.euphoria-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.my-order,
.need-help-section15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.need-help-section15 {
  align-self: stretch;
  background-color: var(--color-darkslategray-200);
  align-items: center;
  padding: var(--padding-40xl);
  box-sizing: border-box;
  gap: 37px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-9xl-6);
  color: var(--color-whitesmoke-100);
  font-family: var(--font-causten);
}
.my-order {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  gap: 100px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .track-order-frame9 {
    flex-wrap: wrap;
  }
  .need-help-section15 {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .popular-categories-label1 {
    display: none;
  }
  .header-group {
    flex: 1;
  }
  .sitemap-link-inner {
    margin-left: 0;
  }
  .line14,
  .sitemap-link2 {
    flex-wrap: wrap;
  }
  .track-order-frame9 {
    gap: 0 80px;
  }
}
@media screen and (max-width: 750px) {
  .popular-categories-label1 {
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .header-group {
    gap: 0 50px;
  }
  .header-group,
  .sitemap-link-inner {
    min-width: 100%;
  }
  .order-details {
    flex-wrap: wrap;
    justify-content: center;
  }
  .need-help-frame7,
  .text20 {
    flex-wrap: wrap;
  }
  .order-date-2-june-2023-240-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .estimated-delivery-date-8-ju-parent,
  .text23 {
    flex-wrap: wrap;
  }
  .order-date-2-june-2023-240-group {
    flex-wrap: wrap;
    justify-content: center;
  }
  .estimated-delivery-date-8-ju-group {
    flex-wrap: wrap;
  }
  .terms-and-conditions-parent {
    gap: 52px 0;
  }
  .track-order-frame9 {
    gap: 0 80px;
  }
  .line-separator-parent {
    gap: 34px 0;
  }
  .need-help-section15 {
    gap: 37px 0;
    padding-top: var(--padding-19xl);
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
  .my-order {
    gap: 100px 0;
  }
}
@media screen and (max-width: 450px) {
  .active,
  .hello-jhanvi4,
  .my-orders6 {
    font-size: var(--font-size-3xl);
    line-height: 27px;
  }
  .active {
    font-size: var(--font-size-lg);
  }
  .group11 {
    flex: 1;
  }
  .header-group {
    flex-wrap: wrap;
  }
  .cancelled,
  .completed {
    font-size: var(--font-size-lg);
    line-height: 27px;
  }
  .text18 {
    flex-wrap: wrap;
  }
  .text-parent1 {
    /* height: auto; */
  }
  .order-no-123456789,
  .order-no-1234567891,
  .order-no-1234567892 {
    font-size: var(--font-size-base);
  }
  .text25 {
    flex-wrap: wrap;
  }
  .need-help14 {
    font-size: var(--font-size-4xl);
    line-height: 50px;
  }
  .company-frame1 {
    flex: 1;
  }
  .company15 {
    font-size: var(--font-size-4xl);
    line-height: 50px;
  }
  .company-frame2 {
    flex: 1;
  }
  .collaboration-f-a-qs {
    flex-wrap: wrap;
  }
  .return-f-a-qs-frame {
    gap: 77px 0;
  }
  .download-the-app12,
  .location13,
  .more-info15 {
    font-size: var(--font-size-4xl);
    line-height: 50px;
  }
  .icon-and-title {
    flex-wrap: wrap;
  }
  .privacy-policy21 {
    gap: 76px 0;
  }
  .popular-categories15 {
    font-size: var(--font-size-4xl);
    line-height: 46px;
  }
  .my-order {
    gap: 100px 0;
  }
  .my-orders4 {
    font-size: 15px;
  }
}
