.rectangle-header {
  height: 111px;
  width: 1440px;
  position: relative;
  border-bottom: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.euphoria5 {
  height: 45px;
  position: relative;
  display: inline-block;
}
.group-icon22,
.group-icon23,
.group-icon24 {
  height: 0.4px;
  position: absolute;
  margin: 0 !important;
  bottom: 11px;
  z-index: 1;
}
.group-icon22 {
  width: 22.4px;
  left: 0;
}
.group-icon23,
.group-icon24 {
  width: 59.1px;
  right: 0.9px;
}
.group-icon24 {
  width: 53.8px;
  height: 7.4px;
  right: 3.4px;
  bottom: 2.3px;
}
.logo-instance,
.logo5 {
  display: flex;
  flex-direction: column;
}
.logo5 {
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.logo-instance {
  width: 196px;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-icon6 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button56 {
  width: calc(100% - 116px);
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-causten);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 22px;
  flex: 1;
  position: relative;
  color: var(--color-gray-300);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 34px;
}
.arrowright-icon26 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-frame,
.button55 {
  display: flex;
  justify-content: flex-start;
}
.button55 {
  width: 184px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-29xl);
  box-sizing: border-box;
  gap: 0 12px;
  z-index: 1;
}
.button-frame {
  width: 334px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.english-united-states2,
.vector-icon13 {
  position: relative;
}
.vector-icon13 {
  height: 24px;
  width: 24px;
  min-height: 24px;
}
.vector-icon14 {
  height: 5px;
  width: 10px;
  position: absolute;
  margin: 0 !important;
  right: 7px;
  bottom: 9px;
  z-index: 1;
}
.language-select-frame,
.select-langauge2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.select-langauge2 {
  flex-direction: row;
  position: relative;
  gap: 0 12px;
  z-index: 1;
}
.language-select-frame {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-300);
  font-family: var(--font-causten);
}
.shopping-cart-icon19 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button58 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-causten);
  color: var(--color-blueviolet-100);
  text-align: center;
}
.arrowright-icon27 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button57 {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray-200);
  padding: var(--padding-xs);
  background-color: transparent;
  width: 140px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
  z-index: 1;
}
.shopping-cart-icon20 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button60 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-causten);
  color: var(--color-blueviolet-100);
  text-align: center;
  white-space: nowrap;
}
.arrowright-icon28 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button59 {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray-200);
  padding: var(--padding-xs) var(--padding-23xl) var(--padding-xs)
    var(--padding-29xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0 12px;
  z-index: 1;
}
.button-container1,
.rectangle-parent68 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 29px;
  max-width: 100%;
}
.rectangle-parent68 {
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-15xl) var(--padding-80xl) var(--padding-12xl)
    var(--padding-81xl);
  gap: 0 60px;
}
.bert-b-rhnff6hb41s-unsplash-1-icon1 {
  height: 956px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 452px;
}
.reset-your-password {
  margin: 0;
  height: 33px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.enter-your-email {
  position: relative;
  line-height: 20px;
}
.please-check-it {
  position: relative;
  font-weight: 500;
  font-family: var(--font-causten);
  color: var(--color-dimgray-200);
  white-space: pre-wrap;
}
.email-field-frame,
.language-selector-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-field-frame {
  gap: 4px 0;
  font-size: var(--font-size-base);
  color: #676b80;
  font-family: var(--font-roboto);
}
.language-selector-frame {
  gap: 10px 0;
  max-width: 100%;
  color: var(--color-darkslategray-300);
  font-family: var(--font-core-sans-c);
}
.label4 {
  position: relative;
  letter-spacing: 0.02em;
}
.twitter-icon3 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.button62 {
  width: 166px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-causten);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 22px;
  position: relative;
  color: var(--color-blueviolet-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.arrowright-icon29 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button61 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: rgba(102, 32, 193, 0.03);
  border: 1px solid var(--color-blueviolet-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xl);
  gap: 0 12px;
}
.we-can-not {
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-crimson);
}
.error-message-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  gap: 11px 0;
  font-size: var(--font-size-lg);
}
.shopping-cart-icon21 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button64 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-causten);
  color: var(--color-white);
  text-align: center;
}
.arrowright-icon30 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button63 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--color-blueviolet-100);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
}
.login {
  text-decoration: underline;
}
.back-to-login-container {
  position: relative;
  white-space: pre-wrap;
}
.confirmation-message-frame,
.email-input-frame,
.input-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-frame {
  width: 167px;
  gap: 10px 0;
  font-size: var(--font-size-base);
}
.confirmation-message-frame,
.email-input-frame {
  box-sizing: border-box;
  max-width: 100%;
}
.confirmation-message-frame {
  align-self: stretch;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 30px 0;
}
.email-input-frame {
  width: 568px;
  padding: var(--padding-41xl) 0 0;
  min-width: 568px;
}
.bertbrh-nffh-bsunsplash-rectan,
.reset-password {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--color-darkslategray-200);
}
.bertbrh-nffh-bsunsplash-rectan {
  width: 1360px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 0 77px;
  max-width: 100%;
  font-size: var(--font-size-15xl);
  font-family: var(--font-causten);
}
.reset-password {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  letter-spacing: normal;
  font-size: var(--font-size-15xl-1);
  font-family: var(--font-mintaka);
}
@media screen and (max-width: 1350px) {
  .rectangle-parent68 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .email-input-frame {
    flex: 1;
  }
  .bertbrh-nffh-bsunsplash-rectan {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .euphoria5 {
    font-size: var(--font-size-8xl);
  }
  .rectangle-parent68 {
    gap: 0 60px;
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
  .bert-b-rhnff6hb41s-unsplash-1-icon1 {
    min-width: 100%;
  }
  .reset-your-password {
    font-size: var(--font-size-8xl);
  }
  .email-input-frame {
    min-width: 100%;
  }
  .bertbrh-nffh-bsunsplash-rectan {
    gap: 0 77px;
  }
}
@media screen and (max-width: 450px) {
  .euphoria5 {
    font-size: var(--font-size-xl);
  }
  .rectangle-parent68 {
    gap: 0 60px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .reset-your-password {
    font-size: var(--font-size-xl);
  }
  .email-input-frame {
    padding-top: var(--padding-20xl);
    box-sizing: border-box;
  }
  .bertbrh-nffh-bsunsplash-rectan {
    gap: 0 77px;
  }
}
